.info{
float: left;
width:521px;
height:617px;
margin:15px;
}

p{
    font-size: 20px;
    padding-top: 20px;
margin-top: 0px;
margin-bottom: 0px;
}

.title{
    text-align: center;
    font-size: 40px;
margin-left: 10%;
margin-right: 10%;
margin-top: 0px;
margin-bottom: 0px;
    background-color: lightblue;
}

.text{
margin-top: 0px;
margin-bottom: 0px;
margin-right: 10%;
    margin-left: 10%;
    background-color: #ff4d4d;
height: 700px;
padding-left: 10px;
padding-right: 10px;
}

ul{
    padding: 0;
    margin-right: 20px;
    font-size: 20px;
}

.list{
    margin-left: 55%;
}

.topBar{
margin-left: 10%;
margin-right: 10%;
      overflow: hidden;
background-color: yellow;
}

.topBar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topBar a:hover{
    background-color: lightblue;
color: #ff4d4d;
}

a:visited{
color: blue;
}

h4{
    font-size: 25px;
    margin-bottom: 0px;
}

.img{
float: left;
width:256px;
height:309px;
margin-right:15px;
}
